<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2 style="font-family:helvetica,serif;"><span>List of Books from Google API</span></h2>
        </div>
    </div>

    <hr class="style18">

    <ul class="list-group">
        <li *ngFor="let book of results.items"
            class="list-group-item"
            (click)="description(book.id)">
            <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}"/>
            <span>
          <span id="titleSpan">
        {{book.volumeInfo.title}}  </span>
                <span id="authorName">Author: </span>{{book.volumeInfo.authors[0]}}
            </span>
        </li>
    </ul>
</div>
