#rowStyle {
  margin-top: 120px;
}

#bookDetailsHeading {
  font-family: helvetica, serif;
}

#imageLogo {
  text-align: center;
}

#bookPanel {
  border-width: 5px;
  margin-top: 20px;
}

#addBookSuccess {
  color: forestgreen;
}

#listPrice {
  text-decoration: line-through;
}
